@font-face {
  font-family: 'PFDinTextPro-Regular';
  src: url('PFDinTextPro-Regular.eot');
  src: url('PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('PFDinTextPro-Regular.woff2') format('woff2'),
       url('PFDinTextPro-Regular.woff') format('woff'),
       url('PFDinTextPro-Regular.ttf') format('truetype'),
       url('PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

